.big-banner {
    background-image: url('../images/english-cocker-spaniel-puppy-sitting-on-ground-beside-grass-1254140_left.jpg');
    min-height: 1047px;
}
/* .container {
    background-color: black;
} */
