.big-banner {
    background-image: url('../images/english-cocker-spaniel-puppy-sitting-on-ground-beside-grass-1254140_right.jpg');
    background-size: cover;    
    min-height: 1047px;
}

/* .type = div class for divs containing written elements to increase legibility */
.type {
    margin: 5px;
}

.semi-transparent {
    background-color: white;
    opacity: 0.2;
}

.dog-card {
    display: inline-block;
}

/* Centered text */
.centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.img-rel {
    position: relative;
}

/* .over-img {
    font-size: 24pt;
    height: 5px;
    position: absolute;
    top: 5%;
    left: 80%;
} */

.white {
    color: white !important;
}

.spec-height{
    min-height: 600px;
}

.round {
    border-radius: 50%;
    height: 130px;
}