.big-banner {
    background-color: rgba(4, 65, 24, 0.918);
    background-image: url('../images/english-cocker-spaniel-puppy-sitting-on-ground-beside-grass-1254140_right.jpg');
    background-size: cover;    
    min-height: 1047px;
}

/* .type = div class for divs containing written elements to increase legibility */
.type {
    margin: 5px;
}

.semi-transparent {
    background-color: white;
    opacity: 0.2;
}