{% extends 'adopt/base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid big-banner">
        <br>
        <div class="row">
            <div class="col-lg-1"></div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">So, who are you looking for in a <br>soul-mate?</h5>
                        <form action="#">
                            <div class="form-group">
                                <select class="custom-select" name="size">
                                    <option selected="">Pick a Size</option>
                                    <option value="small">Small</option>
                                    <option value="medium">Medium</option>
                                    <option value="large">Large</option>
                                    <option value="xlarge">Extra Large</option>
                                </select>
                            </div>
                            <div class="form-group">   
                                <select class="custom-select" name="breed">
                                    <option selected="">Pick a Breed</option>
                                    <option value="1">run</option>
                                    <option value="2">a</option>
                                    <option value="3">loop</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="custom-select" name="age">
                                    <option selected="">Pick an Age Range</option>
                                    <option value="baby">Puppy</option>
                                    <option value="young">Adolescent</option>
                                    <option value="adult">Adult</option>
                                    <option value="senior">Senior</option>
                                </select>
                            </div>
                            <div class="row">
                                <div class="form-group col-6">
                                    <select name="disance" class="custom-select">
                                        <option selected="">How far away?</option>
                                        <option value="5">5 miles from</option>
                                        <option value="10">10 miles from</option>
                                        <option value="25">25 miles from</option>
                                        <option value="50">50 miles from</option>
                                        <option value="100">100 miles from</option>
                                    </select>
                                </div>
                                <div class="form-group col-6">
                                    <input type="text" placeholder="Zip Code" class="form-control">
                                </div>
                            </div>
                            <input type="submit" value="Let's Go!" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
