{% extends 'adopt/base3.html' %}}

{% block content %}

<style>
    .img{
    cursor:pointer;
}
</style>

    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="nav-link" href="#"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item nav-link "> <a href="#" onclick="history.go(-1)" class="text-dark">< Back to Search</a></li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
            </ul>
            <div class="navbar-nav ml-auto">
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <br><br>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="col type">
                    <h1>{{dog.animals.name}}</h1>
                    <h6>{{dog.animals.contact.address.city}}, {{dog.animals.contact.address.state}}</h6>
                </div>
                <div class="col type">
                    <br>
                </div>
                <div class="col type">
                    {% if dog.animals.breeds.mixed == True and dog.animals.breeds.secondary == None %}
                    <h4>{{dog.animals.breeds.primary}} Mix</h4>
                    {% elif dog.animals.breeds.secondary == None %}
                    <h4>{{dog.animals.breeds.primary}}</h4>
                    {% else %}
                    <h4>{{dog.animals.breeds.primary}} | {{dog.animals.breed.secondary}} Mix</h4>
                    {% endif %}
                </div>
                <br>
                <div class="col type">
                    {% if dog.animals.age == 'Adult' %}
                    <h6> An {{dog.animals.age}}, {{dog.animals.size}} Sized {{dog.animals.gender}} </h6>
                    {% else %}
                    <h6> A {{dog.animals.age}}, {{dog.animals.size}} Sized {{dog.animals.gender}} </h6>
                    {% endif %}
                </div>
                <br>
                {% if dog.animals.colors.primary %}
                <div class="col type">
                    <h6>Fur Color: {{dog.animals.colors.primary}}</h6>
                </div>
                <br>
                {% endif %}

                <div class="col type">
                    <h6>My Info:</h6>
                        {% if dog.animals.attributes %}
                            {% for k, v in dog.animals.attributes.items %}
                                {% if v == True %}
                                <li>{{k|title}}: Yes</li>
                                {% elif v == None %}
                                <li>{{k|title}}: Not listed</li>
                                {% else %}
                                <li>{{k|title}}: No</li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% endif %}
                </div>
                <br>
                <div class="col type">
                    <h6>How I Am Around...</h6>    
                        {% if dog.animals.environment %}
                            {% for k, v in dog.animals.environment.items %}
                                {% if v == True %}
                                <li>{{k|title}}: Yes</li>
                                {% elif v == None %}
                                <li>{{k|title}}: Not listed</li>
                                {% else %}
                                <li>{{k|title}}: No</li>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        {% endif %}
                </div>
                <br>
                <div class="col type">
                    <h6>Adoption Status:</h6>
                        <li>{{dog.animals.status|upper}}</li>
                        <li>Waiting for a home since: {{date}}</li>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <br>
                    </div>
                    <div class="col-sm-8">
                        <br><br>
                        <div class="card text-dark border-primary mb-3 text-center">
                            <br>
                            <img class="mx-auto" src="../static/adopt/images/shelter_icon.png" alt="Card image cap" style="width:100px;height:100px;">
                            <div class="card-body">
                                <h5 class="card-title">{{organization.name|upper}}</h5>
                                {% if organization.address.address1 == None %}
                                    <p>Location: <a href="#" class="card-text">{{organization.address.city}}, {{organization.address.state}}</a></p>
                                {% else %}
                                <p>Location: <a href="#" class="card-text">{{organization.address.address1}}
                                    <br> {{organization.address.city}}, {{organization.address.state}}</a></p>
                                {% endif %}
                                {% if organization.phone == None %}
                                <p>Phone: <a href="#" class="card-text">Not Listed</a></p>
                                {% else %}
                                <p>Phone: <a href="#" class="card-text">{{organization.phone}}</a></p>
                                {% endif %}
                                {% if organization.email == None %}
                                <p>Email: <a href="#" class="card-text">Not Listed</a></p>
                                {% else %}
                                <p>Email: <a href="#" class="card-text">{{organization.email}}</a></p>
                                {% endif %}
                                <a href="{% url 'shelter_detail' organization.id %}" class="btn btn-primary">Shelter Details & Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                {% endif %}
                <button type="submit" href="#" class="btn btn-outline-info">Ask About Me</button>
                {% if dog.animals.id in faves %}
                <a href="{% url 'remove_favorite' dog.animals.id %}" class="badge badge-light align-self-end mr-2" alt_href="{% url 'add_favorite' dog.animals.id %}"><i class='fas fa-heart' style="font-size: x-large; color:crimson;" alt_class='far fa-heart' ></i></a> 
                {% else %}
                <a href="{% url 'add_favorite' dog.animals.id %}" class="badge badge-light align-self-end mr-2" alt_href="{% url 'remove_favorite' dog.animals.id %}"><i class='far fa-heart' style="font-size: x-large; color:crimson;" alt_class="fas fa-heart"></i></a> 
                {% endif %}
                <div>
                    <img src="{{dog.animals.photos.0.full }}" alt="Picture of {{dog.animals.name}}" width="550" height="550" class='main-img' style="object-fit: contain;">
                    <div class="row d-flex justify-content-around">
                        {% if not dog.animals.photos.1.full %}
                        <h5>No Additional Photos Available</h5>
                        {% else %}
                        <img class="img-thumbnail col-4 img" src="{{dog.animals.photos.0.full}}" alt="" style="object-fit: contain;">
                        <img class="img-thumbnail col-4 img" src="{{dog.animals.photos.1.full}}" alt="" style="object-fit: contain;">
                        <img class="img-thumbnail col-4 img" src="{{dog.animals.photos.2.full}}" alt="" style="object-fit: contain;">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div> 
    </div>        

<script>
// Script to load default if no images
    fixBrokenImages = function(url){
    var img = document.getElementsByTagName('img');
    var i=0, l=img.length;
    for(;i<l;i++){
        var t = img[i];
        if(t.naturalWidth === 0){
            //this image is broken
            t.src = url;
        }
    }
}
window.onload = function() {
    fixBrokenImages('../static/adopt/images/grey_no_photo.png');
 }

 //Update image and thumbnails
 $('.img').click(function(){
     var source = $(this).attr('src');
     $('.main-img').attr('src', source);
 })

// Like/Unlike doggos
 $('.badge').click(function(e){
    e.preventDefault();
    $.ajax({
        method: 'GET',
        url: $(this).attr('href')
    });
    alt_href = $(this).attr('alt_href');
    href = $(this).attr('href');
    $(this).attr('href', alt_href);
    $(this).attr('alt_href', href);
    alt_class = $(this).children().attr('alt_class');
    _class = $(this).children().attr('class');
    $(this).children().attr('class', alt_class);
    $(this).children().attr('alt_class', _class);
})
</script>

{% endblock %}}