{% extends 'adopt/base.html' %}

{% block content %}
<div class="container-fluid" style="background-image: url('/static/adopt/images/adorable-animal-blur-breed-319975.jpg'); background-size:cover; min-height:1000px">
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4 ml-5 mt-3">
            <h1 class="text-light">Login</h1>
            <form action="{% url 'login' %}" class="mt-4" method="POST" id="login-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="col-form-label text-light">Email:</label>
                    <input type="email" class="form-control col-sm-9" name="email" id="email" value="{{email}}">
                    {% for message in messages %}
                    {% if "email" in message.extra_tags %}
                    <p class="text-danger"><small>{{message}}</small></p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label text-light">Password:</label>
                    <input type="password" class="form-control col-sm-9" name="password" id="password">
                    {% if messages %}
                    {% for message in messages %}
                    {% if "password" in message.extra_tags %}
                    <p class="text-danger"><small>{{message}}</small></p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </form>
            <div class="row col-sm-12 col-md-9 p-0 ml-0">
                <input type="submit" value="Login" form="login-form" class="col-sm-12 col-md-3 btn btn-info ml-auto">
            </div>
            <br>
            <br>
            <a href="{% url 'register' %}" class="font-weight-bold">Don't have an account? Register!</a>
        </div>
    </div>
</div>
</div>
{% endblock %}