<!doctype html>
<html lang=>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Voca\LIST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"> -->
    <!-- Google Font embed -->
    <link
        href="https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#efefef">
            <div class="container-fluid">
                <a href=""><img src="" class="navbar-brand" height=150px width=400px></img></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto">
                        <a class="nav-link font-weight-bold" href="#">About</a>
                        <a class="nav-link font-weight-bold" href="">The List</a>
                        <a class="nav-link font-weight-bold active disabled" href="#">Log In</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mt-3">
            <div class="row">
                <div class="col-sm-12 col-md-6 mb-4 ml-5">
                    <h1 class="text-black">Login</h1>
                    <form action="{% url 'login' %}" class="mt-4" method="POST" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="email" class="col-form-label text-black">Email:</label>
                            <input type="email" class="form-control col-sm-9" name="email" id="email" value="{{email}}">
                            {% for message in messages %}
                            {% if "email" in message.extra_tags %}
                            <p class="text-danger"><small>{{message}}</small></p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-form-label text-black">Password:</label>
                            <input type="password" class="form-control col-sm-9" name="password" id="password">
                            {% if messages %}
                            {% for message in messages %}
                            {% if "password" in message.extra_tags %}
                            <p class="text-danger"><small>{{message}}</small></p>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                        </div>
                    </form>
                    <div class="row col-sm-12 col-md-9 p-0 ml-0">
                        <input type="submit" value="Login" form="login-form"
                            class="col-sm-12 col-md-3 btn btn-custom ml-auto">
                    </div>
                    <br>
                    <br>
                    <a href="{% url 'register' %}" class="font-weight-bold">Don't have an account? Register!</a>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>

</body>

</html>